/* overall css classes */

body {
  margin: 20px;
  background: linear-gradient(0.25turn, #0e1316, #373837, #100e0c);
  color: wheat;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* sample components css */

.sample-components-wrapper {
  padding: 20px;
}

.sample-component {
  border: 1px solid grey;
  border-radius: 150px;
  margin: 20px 0;
  border-left-width: 10px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px 20px 15px 35px;
}

.sample-component h4 {
  margin-top: 0;
  padding-left: 25px;
}

.sample-component button {
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@media (max-width: 550px) {
  .sample-component h4 {
    padding: 0;
    text-align: center;
  }

  .sample-component p {
    text-align: center;
  }

  .sample-component button {
    padding: 0 15px;
  }
}

@media (max-width: 550px) {
  .sample-component h4 {
    padding-left: 40px;
  }

  .sample-component p {
    padding-left: 20px;
  }
}
