/* overall css classes */

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 20px;
  background: linear-gradient(0.25turn, #0e1316, #373837, #100e0c);
  color: wheat;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
}

/* sample components css */

.sample-components-wrapper {
  padding: 20px;
}

.sample-component {
  /* border: 1px solid grey; */
  /* border-radius: 150px; */
  margin: 20px 0;
  /* border-left-width: 10px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px; */
  /* padding: 10px 20px 15px 35px; */
}

.sample-component h4 {
  margin-top: 0;
  /* padding-left: 25px; */
}

.sample-component button {
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px;
}

@media (max-width: 550px) {
  .sample-component h4 {
    padding: 0;
    text-align: center;
  }

  .sample-component p {
    text-align: center;
  }

  .sample-component button {
    /* padding: 0 15px; */
  }
}
button {
  background-color: #000;
}

/* @media (max-width: 550px) {
  .sample-component h4 {
    padding-left: 40px;
  }

  .sample-component p {
    padding-left: 20px;
  }
} */

/* icon transitions */
/* .test-animation {
  font: 22px Arial;
  display: inline-block;
  padding: 0;
  text-align: center;
  color: white;
  background: red; /* default color */

/* "to left" / "to right" - affects initial color */
/* background: linear-gradient(to left, grey 50%, white 50%) right;
  background-size: 220%;
  transition: 0.4s ease-out;
} */
/* .test-animation:hover {
  background-position: left;
} */

.test-animation {
  height: 18px;
  width: 18px;
  border: 1px solid black;
  margin: 0 auto;
  background: linear-gradient(130deg, #ff7e00, #ffffff, #5cff00);
  background-size: 200% 200%;

  -webkit-animation: Animation 5s ease infinite;
  -moz-animation: Animation 5s ease infinite;
  animation: Animation 5s ease infinite;
}

.active {
  background-color: white;
}

button.active {
  background: black;
  border-color: white;
}

@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
